table{
    background-color: rgb(220, 223, 224);
}
body{
    background-color: rgb(161, 132, 132);
}
th{
    background-color: rgb(5, 127, 233);
}
td{
    background-color: rgb(39, 103, 103);
}
